<section class="setView createPayeeView hide">
  <h2 class="sub-header">Create Payee</h2>
  <br>
  <div class="row">

    <div class="col-sm-6 col-md-6 mt">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="payeeName" placeholder="Payee name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="bank" placeholder="Bank">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="iban" placeholder="IBAN">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4">
            <button type="submit" class="btn btn-default btn-bank-account savePayee">Save</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-offset-1 col-sm-5 info mt">
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

  </div>
</section>