<section class="setView createPayeeView hide">
  <h2 class="sub-header">Create Payee</h2>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>Current</h4>
      <span class="text-muted">3,440.00 EUR</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>Savings</h4>
      <span class="text-muted">2,100.00 EUR</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>Debit</h4>
      <span class="text-muted">- 300,00.00 HRK</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>Credit</h4>
      <span class="text-muted">- 220,00.00 EUR</span>
    </div>
  </div>
</section>