<section class="setView makePaymentView hide">
  <h2 class="sub-header">Make Payment</h2>
  <br>
  <div class="row">
    <form role="form">

      <div class="col-sm-4 paymentFunnel choosePayee">
        <div class="payeeField addPayee" data-view="createPayeeView">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
        <div class="payeeField text-muted noPayee">No payee's added</div>
      </div>

      <div class="col-sm-4 paymentFunnel">
        <input type="text" class="form-control" id="amount" placeholder="0,00 EUR">
      </div>

      <div class="col-sm-4">
        <input type="date" class="form-control" id="date" placeholder="Date">
      </div>

      <div class="col-sm-offset-8 col-sm-4 mt">
        <button type="submit" class="btn btn-default btn-bank-account sendPayment">Send payment</button>
      </div>

    </form>
  </div>
</section>