<div class="modal fade modalConfirmPayee" tabindex="-1" role="dialog" aria-labelledby="modalConfirmPayee" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-green">
      You have successfully added new payee!
    </div>
  </div>
</div>