<section class="setView transactionView">
  <h2 class="sub-header">Transactions</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Beneficiaries/Payee</th>
          <th>Transaction type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>Received</td>
          <td>100,00 euro</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>Paid</td>
          <td>120,00 euro</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>Integer</td>
          <td>Received</td>
          <td>2000,00 euro</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>libero</td>
          <td>Paid</td>
          <td>320,00 euro</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>dapibus</td>
          <td>Received</td>
          <td>40.00 euro</td>
        </tr>
        <tr>
          <td>1,005</td>
          <td>Nulla</td>
          <td>Paid</td>
          <td>43,3 euro</td>
        </tr>
        <tr>
          <td>1,006</td>
          <td>nibh</td>
          <td>Paid</td>
          <td>6,54 euro</td>
        </tr>
        <tr>
          <td>1,007</td>
          <td>sagittis</td>
          <td>Received</td>
          <td>100,00 euro</td>
        </tr>
        <tr>
          <td>1,008</td>
          <td>Fusce</td>
          <td>Paid</td>
          <td>12,00 euro</td>
        </tr>
        <tr>
          <td>1,009</td>
          <td>augue</td>
          <td>Paid</td>
          <td>19,00 euro</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>