<div class="row">
	<div class="col-sm-12 col-md-12 main">

		<%= render "welcome/transactions" %>
		<%= render "welcome/balance" %>
		<%= render "welcome/createPayee" %>
		<%= render "welcome/makePayment" %>

	</div>
</div>