<div class="navbar navbar-default navbar-fixed-top navbar-bank-account" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">
        Navigation Toggle
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand changeView" href="#" data-view="transactionView">
        Bank Account
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" class="changeView" data-view="balanceView">
            <span class="glyphicon glyphicon-stats"></span>
            <span>Balances</span>
          </a>
        </li>
        <li>
          <a href="#" class="changeView" data-view="createPayeeView">
            <span class="glyphicon glyphicon-user"></span>
            <span>Create Payee</span>
          </a>
        </li>
        <li>
          <a href="#" class="changeView" data-view="makePaymentView">
            <span class="glyphicon glyphicon-euro"></span>
            <span>Make payment</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>