<div class="modal fade modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirm" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content bg-green">
      <!-- Content dynamically added -->
      
    </div>
  </div>
</div>